* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {
    color: #fff;
    font-family: Arial;
    font-size: 20px;
    padding: 30px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); /* https://cssgradient.io/ */
}